body{
    background-image: url('https://images.pexels.com/photos/925743/pexels-photo-925743.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
}

.one{
    color: darkorange;
    border-width: 5px;
    border-color: gold;
    border-style: solid;
    background-color:aliceblue;
    font-style:oblique;
    font-size: larger; 
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 20px;
    
}


#headin{
    color:tomato;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

hr{
    margin-top:20px;
    background-color: blue;
    height: 5px;
}

footer{
    background-color:silver;
    color: red;
    font-size: large;
    text-align: end;
}

.header2{
    background-color: Red;
    border: 3px solid brown;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content:end;
}

.g{
    margin:1%;
    height: 12px;
    width:12px;
}

#imag{
    height: 100%;
    width :100%;
}

#css3{
    height: 100%;
    width :70%;
}

.fcontainer{
    display: flex;
    justify-content: center;
}

.fbox{
    margin:1%;
    height: 122px;
    width:122px;
}

#middletxt{
    width: 100%;
    height: 30%;
    color:coral;
    font-weight: bolder;
    font-size:300%;
    text-align: center;
    padding-top:2%;
}

#githb{
    height: 23px;
    width :23px;
}

#in{
    height: 20px;
    width :20px;
}

.Mytable{
    border: 5px solid brown;
    border-radius: 10px;
    padding: 20px;
    margin-left:auto;
    margin-right:auto;
    width: fit-content;
}

#tab{
    margin-left: auto;
    margin-right: auto;
}

#h{
    color:orangered;
    text-align: center;
}

.h4{
    color:rgb(255, 102, 0);
}

.htharry{
    margin: 1%;
    height: 90%;
    width: 90%;
    position: relative;
}

.course1{
    display: flex;
    justify-content: space-evenly;
    /* flex: 1; */
    border-style: solid ;
    border-width: 10%;
    color: crimson;
    font-weight: bold;
    /* position: absolute; */
    padding:2%;
    border-radius: 10px;
    box-sizing: border-box;
    /* margin-left:100px;
    margin-right:100px; */
}

.sp,.sp1,.sp2{
    margin: 30%;
    color: black;
    font-size: large;
    font-weight: bolder;
}

#a,#b,#c{
    margin: 1%;
}

#para{
    margin-top: 10%;
    border: 3px solid black;
    padding: 0.5%;
    border-radius: 10px;
    background-color: aliceblue;
    color: rgb(140, 0, 255);
    font-size: larger;
    width: 100%;
    box-sizing: border-box;
}

.hh{
    border:3px solid black;
    background-color:azure;
    border-radius: 10px;
    padding: 1%;
    width: max-content;
}

.d{
    background-color: burlywood;
    width: max-content;
    padding: 2%;
    border: 3px solid red;
    border-radius: 20px;
    box-sizing: border-box;
}

.submit1{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration:double;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}

